<% layout('layouts/app') %>

<div class="col-6 offset-3">
  <h1>Add a Yepping Point</h1>
  <form
    action="/places"
    method="POST"
    class="validated-form"
    novalidate
    enctype="multipart/form-data"
  >
    <div>
      <label for="title">Title</label>
      <input
        type="text"
        name="place[title]"
        id="title"
        class="form-control"
        required
      />
    </div>
    <div>
      <label for="location">Location</label>
      <input
        type="text"
        name="place[location]"
        id="location"
        class="form-control"
        required
      />
    </div>
    <div>
      <label for="description">Description</label>
      <textarea
        type="text"
        name="place[description]"
        id="description"
        class="form-control"
        required
      ></textarea>
    </div>
    <div>
      <label for="price">Price</label>
      <input
        type="text"
        name="place[price]"
        id="price"
        class="form-control"
        required
      />
    </div>
    <div>
      <label for="image">Image</label>
      <input
        type="file"
        name="image"
        id="image"
        accept="image/*"
        multiple
        required
        class="form-control"
      />
    </div>
    <button type="submit" class="btn btn-success my-2">Save</button>
  </form>
</div>
